<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wedding</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/site/templates/styles/main.css">
  <style type="text/css">
    .bg-cover {
        background: url("../assets/img/sampran.jpg");
    }
</style>
</head>

<body class="basic-page">
  
  <div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <h1 class="display-3 mb-1 text-center">Wedding Day</h1>
      <p class="lead text-center"><span> 15 July 2018 </span></p>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        
      </div>
    </div>
  </div>

</body>
</html>