<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav>
        <div class="nav-wrapper #00c853 green accent-4">
          <a href="#" class="brand-logo center">{{ title }} </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="" [routerLink]="['/signin']">Login</a></li>
            <li><a href="" [routerLink]="['/signup']">Signup</a></li>
            <!-- <li><a href="collapsible.html">#</a></li> -->
          </ul>
        </div>
      </nav>
</header>



<router-outlet></router-outlet>


